.form {
  display: flex;
  flex-direction: column;
  > * {                       // to select al children in the form 
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}